img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.back {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.back > a {
  padding: 5px 8px;
  text-decoration: none;
  color: black;
  border: solid 3px black;
  border-radius: 20px;
}

.back > a:hover {
  background-color: chocolate;
  transition: 0.3s ease;
}
